
extends base

block content 
        main.main
            .user-view
                include _account-menu
                .user-view__content.manageContent
                    h1.heading Current Players                                       
                    .player-heading-wrap
                        h3 Name
                        h3 Birthday
                        h3 Gender
                        h3 Waiver
                        h3.delete Edit/Delete
                    
                    .usersList 
                    each player in players
                        .player_wrap
                            span.name= `${player.name}` 
                            span.email= `${player.birthDate}`
                            span.role= `${player.sex}`
                            span.waiver= `${player.waiverSigned}`
                            span.delete
                                button(id=`${player.id}` class='delete_user-btn') Delete