extends base

block content 
        main.main
            .user-view
                include _account-menu
                .tabs
                    input#tabone.radiotab(checked="checked" type="radio" tabindex="1" name="tabs")
                    label.label(for="tabone") View Current Training Sessions
                    .panel(tabindex="1")
                        if user.role === 'admin' || user.role === 'coach'
                            .user-view__content.manageSessions
                                    .user-view__container
                                        h1.heading All Sessions                                       
                                        .heading-wrap
                                            h3 Name
                                            h3 Start Date
                                            h3 Times
                                            h3 Coaches
                                            h3.roster Roster Spots
                                            h3.delete Edit/Delete
                                        
                                        .sessionsList 
                                        each session in sessions
                                            .session_wrap
                                                span.name= `${session.name}` 
                                                span.dates= `${(session.startDates[0]).toLocaleString().split(',')[0]}`
                                                span.time= `${session.timeStart} to ${session.timeEnd}`
                                                span.coach
                                                    each coach in session.trainers
                                                        if session.trainers.length > 1
                                                            span= `${coach.name} | `
                                                        else 
                                                            span= `${coach.name}`
                                                span.roster= `${session.rosterLimit}`
                                                span.delete
                                                    button(id=`${session.id}` class='delete_session-btn') Delete
                    
                    input#tabtwo.radiotab(type="radio" name="tabs" tabindex="1")
                    label.label(for="tabtwo") Create a Training Session
                    .panel(tabindex="1")
                        if user.role === 'admin' || user.role === 'coach'
                            .user-view__content.manageSessions
                                .user-view__form-container
                                    h1.heading Create a Session
                                    br
                                    form.form.form-session-data
                                        .form__group
                                            label.form__label(for='sessionName') Name
                                            input#sessionName.form__input(type='text', value='', required)
                                        .form__group.ma-bt-md
                                            label.form__label(for='sessionPrice') Price
                                            input#sessionPrice.form__input(type='number', value='', required)
                                        .form__group
                                            label.form__label(for='birthYear') Birth Year Cutoff
                                            input#birthYear.form__input(type='text', value='', required)
                                        .form__group
                                            label.form__label(for='starts') Starting Date
                                            input#starts.form__input(type='date', value='', required)
                                        .form__group
                                            label.form__label(for='ends') Ending Date
                                            input#ends.form__input(type='date', value='', required)
                                        .form__group
                                            label.form__label(for='startTime') Start Time
                                            input#startTime.form__input(type='text', value='', required)
                                        .form__group
                                            label.form__label(for='endTime') End Time
                                            input#endTime.form__input(type='text', value='', required)
                                        .form__group
                                            label.form__label(for='max') Roster Maximum
                                            input#max.form__input(type='number', value='', required)

                                        div.select_wrap
                                            .form__group
                                                label.form__label(for='demo') Demographic
                                                select#demo
                                                    option(value='boys') Boys/Men
                                                    option(value='girls') Girls/Women
                                                    option(value='coed') Coed
                                            .form__group
                                                label.form__label(for='sport') Sport
                                                select#sport
                                                        option(value='soccer') Soccer
                                                        option(value='volleyball') Volleyball
                                                        option(value='futsal') Futsal
                                                        option(value='camp') Camp
                                                        option(value='basketball') Basketball
                                            .form__group
                                                label.form__label(for='coaches') Coaches
                                                select#coaches
                                                    each coach in coaches
                                                        option(value=coach.id)= `${coach.name}`

                                        .form__group
                                            label.form__label(for='desc') Description
                                            input#desc.form__input(type='text', value='', required)
                                        .form__group
                                            label.form__label(for='duration') Duration
                                            input#duration.form__input(type='text', value='', required)

                                        .photo_uploads
                                            .form__group.form__photo-upload
                                                input.form__upload(type='file' accept='image/*' id='session-image' name='image')
                                                label.sessionImage-upload-label(for='session-image') Choose Cover Photo
                                                span.sessionImage-upload-success.hidden Upload successful!

                                            .form__group.form__photo-upload
                                                input.form__upload(type='file' accept='image/*' id='session-images' name='profileImages' multiple )
                                                label.sessionImages-upload-label(for='session-images') Choose 3 Profile Page Images
                                                span.sessionImages-upload-success.hidden Upload successful!
                                        .form__group.right
                                            button#createSession.btn.btn--small.btn--red Create Training Session

