extends base

block content 
        main.main
            .user-view
                include _account-menu
                .user-view__content.manageContent
                    h1.heading Current Users                                       
                    .user-heading-wrap
                        h3 Name
                        h3 Email
                        h3 Role
                        h3 Waiver
                        h3.delete Edit/Delete
                    
                    .usersList 
                    each user in users
                        .user_wrap
                            span.name= `${user.name}` 
                            span.email= `${user.email}`
                            span.role= `${user.role}`
                            span.waiver= `${user.waiverSigned}`
                            span.delete
                                a(href=`/myaccount/admin/user?${user.id}` class='user-btn--edit') Edit
                                button(id=`${user.id}` class='delete_user-btn') Delete