extends base

block content 
        main.main
            .user-view
                include _account-menu
                .user-view__content
                    .customer_info 
                        h3= `Name: ${customer.name}`
                        h3= `Email: ${customer.email}`
                        h3= `Phone: ${customer.phone}`
                        h3= `Current Balance: ${customer.balance}`
                        h3= `Default Payment Source: ${customer.default_source}`
                    #invoice_history
                        h2.heading-secondary Payment History
                        .payment-heading 
                            h3 Invoice ID 
                            h3 Amount 
                            h3 Charge Created At
                            h3 Payment Status
                            h3 Item or Class
                        each invoice in invoices
                            - const charge = formatter.format(invoice.amount_due/100);
                            - const createdAt = new Date(invoice.created*1000).toString().split('GMT')[0];
                            .payment-wrap
                                span.payment-item= `${invoice.id}`
                                span.payment-item= `${charge}`
                                span.payment-item= `${createdAt}`
                                span.payment-item= `${invoice.paid}`
                                span.payment-item= `${invoice.lines.data[0].description}`